/* Fonts */
@font-face {
    font-family: 'Rock Salt';
    src: url('/static/fonts/RockSalt-Regular.eot');
    src: url('/static/fonts/RockSalt-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/RockSalt-Regular.woff2') format('woff2'),
        url('/static/fonts/RockSalt-Regular.woff') format('woff'),
        url('/static/fonts/RockSalt-Regular.ttf') format('truetype'),
        url('/static/fonts/RockSalt-Regular.svg#RockSalt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LXGW Marker Gothic';
    src: url('/static/fonts/LXGWMarkerGothic-Regular.eot');
    src: url('/static/fonts/LXGWMarkerGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/LXGWMarkerGothic-Regular.woff2') format('woff2'),
        url('/static/fonts/LXGWMarkerGothic-Regular.woff') format('woff'),
        url('/static/fonts/LXGWMarkerGothic-Regular.ttf') format('truetype'),
        url('/static/fonts/LXGWMarkerGothic-Regular.svg#LXGWMarkerGothic-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/static/icons/icomoon.eot?4kmux1');
  src:  url('/static/icons/icomoon.eot?4kmux1#iefix') format('embedded-opentype'),
    url('/static/icons/icomoon.ttf?4kmux1') format('truetype'),
    url('/static/icons/icomoon.woff?4kmux1') format('woff'),
    url('/static/icons/icomoon.svg?4kmux1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* Icons */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-power:before {
  content: "\e9b5";
  color: yellow
}
.icon-cancel-circle:before {
  content: "\ea0d";
  color: red
}
.icon-exit:before {
  content: "\ea14";
}
.icon-checkbox-checked:before {
  content: "\ea52";
  color: green
}
.icon-world:before {
  content: "\e901";
}

/* Force Select2 dropdown to always open below the input */
.select2-container--open .select2-dropdown {
    top: 100% !important;
    bottom: auto !important;
}

/* Titles */
.big-title {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
}

.secondary-title {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  width: 50%;
  height: 70px; /* Altura fija para el ejemplo */
  margin-left: 400px;
}

/* Index */
.cuerpo1 {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-style: normal;
  margin-top: 90px;
  margin-left: 490px;
  padding: 0 16px 16px 16px;
  background-color: rgb(29, 159, 230);
  border-radius: 8px;
  display: inline-block
}

.cuerpo2 {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-style: normal;
  margin-top: 150px;
  margin-left: 650px;
  background-color: rgb(45, 148, 17);
  padding: 0 16px 16px 16px; /* arriba 0, derecha 16px, abajo 16px, izquierda 16px */
  border-radius: 8px; /* Opcional, para bordes redondeados */
  display: inline-block; /* Hace que el fondo solo abarque el contenido */
}

.cuerpo3 {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-style: normal;
  font-size: 18px;
}

/* Quiz */
.results-quiz {
  font-family: "LXGW Marker Gothic", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  padding: 0 16px 16px 20px;
  background-color: rgba(109, 75, 11, 0.849);
  border-radius: 8px;
  display: inline-block;
}

.questions-quiz {
  padding: 0 16px 16px 70px;
  background-color: rgba(173, 222, 230, 0.849);
  border-radius: 8px;
  height: 480px;
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  margin-top: 40px;
}

.answer  {
  color: white;
}

/* Button selectors */
.big-button {
  font-size: 1em;
  padding: 10px 28px;
  border-radius: 8px;
}

/* Background images selectors */
.background-image {
  background-image: url(/static/img/landscape-1.jpg);
  background-color: rgba(135, 207, 235, 0.374);
  background-size: cover;
}

.background-image2 {
  background-image: url(/static/img/landscape-2.jpg);
  background-color: rgba(135, 207, 235, 0.374);
  background-size: cover;
}

/* HOME button selectors */
.home-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's on top of other elements */
}

.home-button {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline from link */
    font-family: "LXGW Marker Gothic", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.home-button:hover {
    background-color: #45a049;
}